<% content_for :menu do -%>
  <h1>Baixas do Título # <%= session[:rec_id] %></h1>
  <%= mount_menu %w[default separator] %>
  <%= link_to "Voltar à Conta a receber", receivable_path(session[:rec_id]), :class => "button", :icon => "triangle-1-w" %>
<% end -%>

<%= table @receivable_billings, ['expire_at'  , 'Vencimento' , {:format => "date"              , :class => "center"}],
                                ['parcel'     , 'Parcela'    ],
                                ['received_at', 'Recebido em', {:format => "date"              , :class => "center"}],
                                ['value'      , 'Valor'      , {:format => "number_to_currency", :class => "right" }],
                                ['total'      , 'Total'      , {:format => "number_to_currency", :class => "right" }] %>

