<% content_for :menu do -%>
  <h1>Feriados</h1>
<%= mount_menu %>
<% end -%>

<%= table @hollydays,['day','Dia',{:class=>'center'}],['month','Mês',{:class=>'center'}],['name','Feriado'],['active','Ativo'] %>

