<% content_for :menu do -%>
  <h1>Novo plano de contas</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@account_plan) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :name, :label => "Nome", :required => true %>
<% end %>
