body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

.ui-layout-west{
  padding:0px !important;
  overflow:hidden !important;
}

.ui-layout-north{
  padding: 0px !important;
  overflow:hidden !important;
}

.ui-layout-center{
  overflow:hidden;
}

.header {
  padding: 10px;
  background: url(../images/turcoWeb_P.png) no-repeat right 50%;
}

#menu {
  width: 100%;
  margin: 0 auto;
}

#menu div{
  padding:0px 5px;
}

#menu ul {
  margin:0px;
  padding: 0px;
}

#menu li {
  list-style: none;
  padding: 2px 5px 3px 5px;
  display: block;
  text-align: center;
  margin: 3px;
}

#menu li:hover {
  border: 1px outset #ccc;
  background-color: #eee;
  padding: 1px 5px 2px 5px;
}

#menu li > a {
  text-decoration: none;
  display: block;
}

#waiting {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #FFF;
  display: none;
}

#sortable li {
  cursor: move;
  width: 200px;
}

.dataTables_filter {
  float:right;
  text-align:right;
  width:50%;
}

.dataTables_paginate  {
  float:right;
  text-align:right;
}

.dataTables_length {
  float:left;
  width:40%;
}

.dataTables_info {
  float:left;
  width:60%;
}

table.list tbody tr {
  cursor: pointer;
}


table.list .center {
  text-align:center;
}

table.list .right {
  text-align:right;
}

table.list .odd  { background-color: #fff; }
table.list .even { background-color: rgb(240, 240, 240); }


.list td, .list th {
  padding: 2px 10px;
}

.dataTables_paginate span.fg-button {
  margin-right: 1px;
  padding: 1px 10px 0;
}

.fg-toolbar{
  padding: 5px;
}

.fg-button {
  cursor: pointer;
}

.css_right{
  float:right;
  cursor: pointer;
}

.button {
  margin: 5px;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
  color: #f00;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

div.jGrowl div.smoke {
	background: url(../images/smoke.png) no-repeat;
	-moz-border-radius: 	0px;
	-webkit-border-radius:	0px;
	width: 280px;
	height: 55px;
	overflow: hidden;
}

div.jGrowl div.ui-state-highlight {
  border: 0px !important;
  color: #fff !important;
}

div.jGrowl div.header {
  background: none;
}

.notice {display:none}

label {
  margin: 5px;
  display: block;
  /*font-weight: bold;*/
}

/*
label input {
  margin-left: 50px;
}
*/

h1 {
  border-bottom: 1px solid #000077;
  color: #000077;
  margin: 0 0 10px 0;
  padding: 0 0 8px 0;
}

h2 {
  color: #00b;
  margin: 0 0 15px 0;
  padding: 10px 10px 0 0;
  border-bottom: 1px dotted;
}

.perm_label {
  width:200px;
}

table#permissions>tbody tr td span.ui-icon {
  margin: 0 auto;

}

#menu_wrapper {
  padding: 10px;
}

#content_wrapper.logo_grande{
  background: url(../images/turcoWeb_G.png) no-repeat 50%;
}

#content_wrapper {
  padding: 10px;
  overflow: auto;
  height: 100%;
}

.pcontent {
  float:left;
  height: 1.5em;
}

.pcontent > b { padding: 0 10px 0 10px; }

div.w25 {
  width: 25%;
}

div.w50 {
  width: 50%;
}

div.w75 {
  width: 75%;
}

div.w100 {
  width: 100%;
}

div.w25+h2 {
  clear: left;
}

div.separator {
  border-radius: 6px;
  display: inline-block;
  height: 29px;
  margin: 5px;
  position: relative;
  top: -7px;
  width: 2px;
}

