body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

img { border: none; }

.ui-layout-west{
  padding:0px !important;
  overflow:hidden !important;
}

.ui-layout-north{
  padding: 0px !important;
  overflow:hidden !important;
}

.ui-layout-center{
  overflow:hidden;
}

.ui-layout-toggler {
  background-color: #ccc;
}

/*
.ui-layout-toggler-east-open {
  background-color: #ccc;
}

.ui-layout-toggler-east-closed {
  background-color: #444;
}
*/

.header {
  padding: 10px;
  background: url(../images/turcoWeb_P.png) no-repeat right 50%;
  font-weight: normal;
}

#menu {
  width: 100%;
  margin: 0 auto;
}

#menu div{
  padding:0px 5px;
}

#menu ul {
  margin:0px;
  padding: 0px;
}

#menu li {
  list-style: none;
  padding: 2px 5px 3px 5px;
  display: block;
  text-align: center;
  margin: 3px;
}

#menu li:hover {
  border: 1px outset #ccc;
  background-color: #eee;
  padding: 1px 5px 2px 5px;
}

#menu li > a {
  text-decoration: none;
  display: block;
}

#waiting {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: url(../images/loader.gif) no-repeat 50% #fff;
  display: none;
}

#sortable li {
  cursor: move;
  width: 200px;
}

.dataTables_filter {
  float:right;
  text-align:right;
  width:50%;
}

.dataTables_paginate  {
  float:right;
  text-align:right;
}

.dataTables_length {
  float:left;
  width:40%;
}

.dataTables_info {
  float:left;
  width:60%;
}

/*.dataTables_wrapper tbody tr {*/
table.list tbody tr {
  cursor: pointer;
}


.dataTables_wrapper table .center {
  text-align:center;
}

.dataTables_wrapper table .right {
  text-align:right;
}

.dataTables_wrapper .odd  { background-color: #fff; }
.dataTables_wrapper .even { background-color: rgb(240, 240, 240); }


.dataTables_wrapper td, .dataTables_wrapper th {
  padding: 2px 10px;
}

.dataTables_paginate span.fg-button {
  margin-right: 1px;
  padding: 1px 10px 0;
}

.fg-toolbar{
  padding: 5px;
}

.fg-button {
  cursor: pointer;
}

.css_right{
  float:right;
  cursor: pointer;
}

.button {
  margin: 5px;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
  color: #f00;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

div.jGrowl div.smoke {
	background: url(../images/smoke.png) no-repeat;
	-moz-border-radius: 	0px;
	-webkit-border-radius:	0px;
	width: 280px;
	height: 55px;
	overflow: hidden;
}

div.jGrowl div.ui-state-highlight {
  border: 0px !important;
  color: #fff !important;
}

div.jGrowl div.header {
  background: none;
}

.notice {display:none}

label {
  margin: 5px;
  display: block;
  /*font-weight: bold;*/
}

/*
label input {
  margin-left: 50px;
}
*/

h1 {
  border-bottom: 1px solid #000077;
  color: #000077;
  margin: 0 0 10px 0;
  padding: 0 0 8px 0;
}

h2 {
  color: #00b;
  margin: 15px 0;
  padding: 10px 10px 0 0;
  border-bottom: 1px dotted;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
}

.perm_label {
  width:200px;
}

table#permissions>tbody tr td span.ui-icon {
  margin: 0 auto;

}

#menu_wrapper {
  padding: 10px;
  border-bottom: 1px solid #dde;
  /*box-shadow: 0 0 4px 0 #888;
  z-index:999;*/
}

#content_wrapper.logo_grande{
  background: url(../images/turcoWeb_G.png) no-repeat 50%;
}

#content_wrapper {
  padding : 10px;
  overflow: auto;
  height  : 100%;
}

.pcontent + h2 {
  overflow: auto;
  width: 99%;
}

.pcontent {
  float : left;
  padding: 5px 0;
  /*height: 1.5em;
  border: solid red 1px;*/
}

.pcontent:hover { background-color: #ff8 }

.pcontent > b {
  display: block;
  padding: 0 0 2px 5px;
}

.pcontent > span {
  border: solid 1px #ddd;
  display: block;
  padding: 3px;
  min-height: 1.4em;
  background-color: #fff;
  margin: 0 5px;
}

.pcontent.link-to-email span {
  cursor: pointer;
}

.pcontent.link-to-email a span.ui-icon {
  display: none;
  float: right;
}

.pcontent.link-to-email a:hover span.ui-icon {
  display: inline-block;
}

.pcontent.link-to-email span a {
  text-decoration: none;
  display: block;
}

.featured-font {
  font-size: 1.3em;
}

div.w10  {width: 10% ;}
div.w20  {width: 20% ;}
div.w25  {width: 25% ;}
div.w30  {width: 30% ;}
div.w40  {width: 40% ;}
div.w50  {width: 50% ;}
div.w60  {width: 60% ;}
div.w70  {width: 70% ;}
div.w75  {width: 75% ;}
div.w80  {width: 80% ;}
div.w90  {width: 90% ;}
div.w100 {width: 100%;}

div.w25+h2 {
  clear: left;
}

div.separator {
  border-radius: 6px;
  display      : inline-block;
  height       : 29px;
  margin       : 5px;
  position     : relative;
  top          : -7px;
  width        : 2px;
}

.clear {
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
}

.form-toolbar {
  margin: 5px 1%;
}

ul.file-list {
  -moz-columns: 4;
  -webkit-columns: 4;
}
ul.file-list li {
  list-style: url(../images/blue-file-icon.png);
}

ul.file-list li a {
  text-decoration: none;
}

ul.file-list li a:hover {
  text-decoration: underline;
}

.screenlet {
  margin-bottom: 5px;
}

#bossMessage {
  padding: 3px;
  min-height: 150px;
  overflow: auto;
}

/*#chat {
  position: absolute;
  bottom:0;
}*/
.chat-history {
  padding: 3px;
  min-height: 150px;
  height: 200px;
  overflow: auto;
}
.chat-who {
  font-weight: bold;
}
.chat-message {
  padding: 3px;
}
.chat-message input {
  width: 97%;
}
.mask-code {
  text-transform: uppercase;
}
.hide {
  display: none;
}

.dataTables_wrapper {
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}
