body {
  margin: auto;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

img {
  margin: 0;
}

#limiter {
  width: 700px;
  padding: 0;
  overflow: auto;
}

#limiter>h3 {
  text-align: center;
  float: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 3px;
}

h1 {
  height:100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.group {
  margin: 2px;
  padding: 5px;
  float:left;
}

.border {
  border: 1px solid #aaa;
}

.data {
  float: left;
}

.bigger { font-size: 1.5em;}

.title, .label {
  font-weight: bold;
}

.label:after {content: ": ";}

.w05  {width: 4%; }
.w10  {width: 9%; }
.w15  {width: 14%;}
.w20  {width: 19%;}
.w25  {width: 24%;}
.w30  {width: 29%;}
.w35  {width: 34%;}
.w40  {width: 39%;}
.w45  {width: 44%;}
.w50  {width: 49%;}
.w55  {width: 54%;}
.w60  {width: 59%;}
.w65  {width: 64%;}
.w70  {width: 69%;}
.w75  {width: 74%;}
.w80  {width: 79%;}
.w85  {width: 84%;}
.w90  {width: 89%;}
.w95  {width: 94%;}
.w100 {width: 99%;}

.center {text-align: center;}
.right  {text-align: right; }

table thead th, table tfoot th {
  border-top:    2px solid #000;
  border-bottom: 2px solid #000;
}

table tfoot th {
  border-bottom: none;
}

table thead th, table tbody td {
  border-left: 1px dotted #000;
}

table thead th:nth-last-child(1),
table tbody td:nth-last-child(1) {
  border-right: 1px dotted #000;
}

table th, table td {
  padding: 3px;
}

hr {
  border: none;
  width:100%;
  border-top: 1px dashed #000;
  float: left;
}

ol {
  list-style-type: decimal;
  /*overflow: auto;*/
}
ol.roman { list-style-type: lower-roman; }
li {
  text-align: justify;
  margin: 7px 0 7px 0;
}

