<h1>Usuário</h1>

<%= mount_menu %>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Crypted password:</b>
  <%=h @user.crypted_password %>
</p>

