<% content_for :menu do %>
  <h1>Clientes</h1>
  <%= mount_menu %w[default separator] %>
  <a href="/clients.xls" class="button" icon="document" ajax="false">Excel</a>
<% end %>

<%= table @clients, ["code", "Código"], ["name", "Nome"], ["nickname", "Fantasia"], ["doc", "Documento", {:class => "center"}], ["contact", "Contato"], ["number", "Telefone"] %>

