<% content_for :menu do %>
  <h1>Clientes</h1>
  <%= mount_menu %>
<% end %>

<%= table @clients, ["name", "Nome"], ["nickname", "Fantasia"], ["cnpj", "CNPJ", "center"], ["ie", "Insc. Estadual", "center"] %>

