<h1>Editando departamento</h1>

<% form_for(@department) do |f| %>

  <%= mount_menu %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Nome: " + f.text_field(:name)%>
  </p>
  <p>
  </p>
<% end %>

