<h1>Departamentos</h1>

<%= mount_menu %>

<table id="list" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
  <% @departments.each do |department| %>
    <tr>
      <td><%=h department.id %></td>
      <td><%=h department.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

