
<% unless @attachments.blank? -%>
  <h2>Arquivos</h2>

  <div class="toggleable">
    <table class="list" id="files_table" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th>Download</th>
          <th>Nome do arquivo</th>
          <th>Descrição</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% @attachments.each do |file| -%>
        <tr>
          <td class="center"><%= link_to image_tag('/images/blue-file-icon.png'), '/attachments/show/' + file.id.to_s, {:ajax => 'false'} %></td>
          <td><%= file.filename %></td>
          <td><%= file.description %></td>
          <td class="center"><%= link_to 'Deletar', "/attachments/#{file.id}.json", :class => 'delete' %></td>
        </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>

