<% content_for :menu do -%>
  <h1>Editando Subst. Tribut. Icm</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@cst_icm) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>

    <%= f.text_field :code       , :label => "Código"   , :size => 50 %>
    <%= f.text_field :description, :label => "Descrição", :size => 50 %>
  </div>
<% end %>

