<% content_for :menu do -%>
  <h1>Títulos a Receber</h1>
  <%= mount_menu %>
<% end -%>

<%= table @receivables, ['invoice_number', 'Número da NF'], ['due_date', 'Vencimento'], ['value', 'Valor'], ['settled', 'Quitado?'] %>

