<% content_for :menu do -%>
  <h1>Título a receber</h1>
  <%= mount_menu %>
<% end -%>

<%= print_content "Número da NF"          , h(@receivable.invoice_number)      %>
<%= print_content "Vencimento"            , h(@receivable.due_date)            %>
<%= print_content "Valor"                 , h(@receivable.value)               %>

