<% content_for :menu do %>
  <h1>Editando departamento</h1>
  <%= mount_menu %>
<% end %>

<% form_for(@dept_contact) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>
    <%= f.text_field :name, :label => "Nome" %>
  </div>
<% end %>

