<% content_for :menu do %>
  <h1>Departamentos de contatos</h1>
  <%= mount_menu %>
<% end %>

<table id="list" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
<tbody>
  <% @dept_contacts.each do |dept_contact| %>
    <tr>
      <td><%=h dept_contact.id %></td>
      <td><%=h dept_contact.name %></td>
    </tr>
  <% end %>
</tbody>
</table>

