<div id="dialog" title="Identifique-se">
	<% form_for @user_session, :url => user_session_path(:xml) do |f| %>
    <%= f.error_messages %>
    <%= f.text_field :login, :label => "Usuário", :class => "text ui-widget-content ui-corner-all" %>

    <%= f.password_field :password, :label => "Senha", :class => "text ui-widget-content ui-corner-all" %>
  <% end %>
</div>

