<% content_for :menu do -%>
  <h1>Subst. Tribut. Pis</h1>
  <%= mount_menu %>
<% end -%>

<%= print_content "Código"   , h(@cst_pi.code)       , :width => 50 %>
<%= print_content "Descrição", h(@cst_pi.description), :width => 50 %>

