<% content_for :menu do -%>
  <h1>Locações</h1>
  <%= mount_menu %w[default separator] %>
  <%= link_to 'Gerar cobranças em massa', '/locations/select_locations', :class => "button", :icon => "alert" %>
<% end -%>

<%= table @locations, ["number"   , "Número"  , {:class => "right"}],
                      ["cli"      , "Cliente"],
                      ["starts_at", "Início"  , {:format => "date", :class => "center"}],
                      ["ends_at"  , "Término" , {:format => "date", :class => "center"}] %>
